WBA2-Phase2/src/xsd/accounts.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="Accountliste" type="slType" />
	

	<xs:complexType name="slType">
		<xs:sequence>
			<xs:element name="Spieler" type="spielerType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="spielerType">
		<xs:sequence>
			<xs:element name="Anzeigename" type="xs:string" />
			<xs:element name="Telefonnummer" type="xs:string" />
		</xs:sequence>
	</xs:complexType>


</xs:schema>